<!-- views/partials/wrap-menu.ejs -->

<div id="wrap-menu" class="wrap-menu">
  <span id="menu-btn-close" class="menu-btn-close">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 28 28"  xml:space="preserve">
      <g id="icon-close">
        <line x1="2" y1="2" x2="26" y2="26" />
        <line x1="2" y1="26" x2="26" y2="2" />
      </g>
    </svg>
  </span>
  <h1 class="menu-title">Operaciones</h1>
  <ul id="menu" class="menu">
    <li id="menu-btn-back" class="back">
      <span>Back</span>
    </li>
    <li><i class="fa fa-globe"></i><a href="/gestiona">Gestiona</a></li>
    <li><i class="fa fa-home"></i><a href="/">Inicio</a></li>
  </ul>
</div>
