<!-- views/pages/login.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
	<style type="text/css">
		@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');


		#playground-container {
			height: 500px;
			overflow: hidden !important;

		}
		.main{margin-top:70px;
			-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
			-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
			box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
			padding:0px;
		}
		.fb:focus, .fb:hover{color:FFF !important;}
		body{
			font-family: 'Raleway', sans-serif;
		}

		.left-side{
			padding:0px 0px 100px;
			background:white;
			background-size:cover;
		}
		.left-side h1{
			font-size: 70px;
			font-weight: 900;
			color:#FFF;
			padding: 50px 10px 00px 26px;
		}

		.left-side p{
			font-weight:600;
			color:#FFF;
			padding:10px 10px 10px 26px;
		}


		.fb{background: #2d6bb7;
			color: #FFF;
			padding: 10px 15px;
			border-radius: 18px;
			font-size: 12px;
			font-weight: 600;
			margin-right: 15px;
			margin-left:26px;-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
			-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
			box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);}
			.tw{background: #20c1ed;
				color: #FFF;
				padding: 10px 15px;
				border-radius: 18px;
				font-size: 12px;
				font-weight: 600;
				margin-right: 15px;-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
				-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
				box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);}

				.right-side{
					padding:30px 0px 100px;
					background:#FFF;
					background-size:cover;
					min-height:514px;
				}
				.right-side h1{
					font-size: 30px;
					font-weight: 700;
					color:#000;
					padding: 50px 10px 00px 50px;
				}
				.right-side p{
					font-weight:600;
					color:#000;
					padding:10px 50px 10px 50px;
				}
				.form{padding:10px 50px 10px 50px;}


			</style>
		</style>
	</head>

	<body class="decor-success loginpage">
		<div class="container">
			<div class="col-md-8 col-md-offset-2 main">
				<div class="col-md-6 left-side hidden-xs hidden-sm">
					<img class="element-center" src="../images/gestiona.png" style="display: block;width: 70%;margin-top: 120px;"/>
					<img class="element-center" src="../images/monos.png" style="display: block;width: 60%;margin-top: 40px;">
					<br>
				</div>

				<div class="col-md-6 right-side">
					<h1>Recuperar contrase単a</h1>
					<form class="form-login fs-form" method="post" id="restForm" name="restForm" action="/restore" style="margin-top: 10px;">
						<div class="form">
							<div class="form-group">
								<label>Ingrese nueva contrase単a</label>
								<input type="password" id="q10" name="q10" class="form-control" required="" style="border: 1px solid #d7d7d7;">
							</div>
							<div class="form-group">
								<label for="form4">Reingrese contrase単a</label>
								<input type="password" id="q20" name="q20" class="form-control" required="" style="border: 1px solid #d7d7d7;">
							</div>
							<div class="form-group pull-right ">
								<button class="btn btn-lg btn-lg btn-primary" type="submit">
									Actualizar
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script src="js/jquery.js"></script>
		<script type="text/javascript">
			$("#restForm").submit(function(){
				event.preventDefault()
				if ($("#q10").val() == $("#q20").val()) {
					document.getElementById("restForm").submit()
				} else {
					$("#q20").val("")
					$("#q20").focus()
					bootbox.alert('Las contrase単as deben conincidir')
				}
			});
		</script>
	</body>
	</html>
