<!-- views/pages/panel.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
  <div id="wrap-content" class="wrap-content">
    <% include ../partials/preloader %>
    <% include ../partials/aside %>
    <% include ../partials/header %>
    <div class="content container-fluid">
      <div class="col-lg-12">
        <%if(page == 'panel'){%>
          <div class="row row-broken">
            <span><%=info.message%></span>
            <a href="./admin/download" target="_blank" class="btn btn-info"> Download BackUp  <i class="fa fa-save"></i></a>
          </div>
        <%}%>
      </div>
    </div>
    <% include ../partials/footer %>
  </div>
  <% include ../partials/wrap-menu %>
  <div id="overlay" class="overlay"></div>
  <% include ../partials/scripts %>
</body>
</html>
