<div class="aside">
	<a href="/executive"><img id="logo" src="../images/bcimin.png" class="logo-bci"/></a>
	<span class="menu-btn-open" id="menu-btn-open">Menu</span>
	<a href="/executive/exit"><span class="toggle-fixed fa fa-power-off" title="Logout" id="logout"></span></a>
</div>
