<!-- views/partials/header.ejs -->

<div class="header">
  <div class="unit title">
    <h5 class="primary font-weight-700">Panel</h5>
    <h6 class="secondary">Bienvenido <%= session.executive %></h6>
  </div>
  <div class="unit time">
    <span class="current-time">18:38</span>
    <span class="current-date">13 Noviembre</span>
  </div>
  <div class="unit message">
    <span class="btn-message" id="message-btn"></span>
    <div class="message-content" id="message-content">
      <div class="unit-scroll" id="conteniendo">
        <a href="javascript:void(0);" class="unit">
          <span class="icon-box"></span>
          <p></p>
        </a>
      </div>

      <div class="check-ok">
        <i class="fa fa-check-circle"></i>
        <br>
        <span class="text-uppercase">Vacio</span>
      </div>
    </div>
  </div>
  <div class="unit backet">
    <span class="side-btn" id="side-btn"><i class="fa fa-th"></i></span>
  </div>
</div>
