<div class="col-md-12 col-right">
  <div class="decor-default p-full-md">
    <h2 class="m-b-md"><center>Busqueda de ejecutivo</center></h2>
    <form name="formulario" id="buscarForm" method="get" action="/executive/client">
			<div class="form-group has-success" style="text-align:center;">
				<input type="text" id="doc" style="text-align: center;"  name="doc" class="form-control material" placeholder="Rut Ejecutivo" required="">
				<small class="help-block">Cualquier ejecutivo con solo su rut Ej: 13112222-4</small>
			</div>
			<div class="form-group has-success">
				<center><button type="submit" class="btn btn-info">Buscar</button></center>
			</div>
		</form>
  </div>
</div>
